/* CSS Document */

menu.league {
   a {
    letter-spacing: 0.5rem; 
   }
}

.ui { 
  .items {
    .item {
      .image {
        img {
          margin: 50% 0
        }
      }
    }
  }
}